*{
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-seif;
}

.second-header {
	position: fixed;
	height: auto;
	width: 100%;
	background: #2a2f4a;
    box-shadow: 0 5px 5px -5px #20243b;
}

.content {
	background: #242943;
	border-bottom: thin solid rgba(244, 244, 255, 0.1);
	padding: 10% 10% 4% 10%;
	height: auto;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.content-container h1 {
	padding-bottom: 2%;
	padding-right: 2%;
	color: #fff;
	font-size: 55px;
	border-bottom: 2px solid #fff;
}

.content-image {
	background: url(../images/pic06.jpg);
	background-size: cover;
	margin-top: 4%;
	height: 450px;
	width: 100%;
}

.content-container p {
	margin-top: 4%;
	font-size: 22px;
	font-weight: 300;
	color: #fff;
	letter-spacing: 1px;
	line-height: 35px;
}
