* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 750px;
	background: rgba(36, 41, 67, 0.86);
	z-index: 1;
}

.banner {
	height: 750px; 
	width: 100%;
	background: url("../images/banner.jpg");
	background-size: cover;
	background-position: top;
	background-attachment: fixed;

}

.banner-head {
	display: flex;
	justify-content: space-between;
	vertical-align: top;
	color: white;
	font-weight: 600;
	letter-spacing: 6px;
	padding: 25px 25px 25px 25px;
	z-index: 2;
}

.head-text {
	z-index: 2;
}

.head-text a {
	color: white;
	text-decoration: none;
}

.head-text span {
	padding: 3px 3px 3px 3px;
	color: #242943;
	background: white;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 2;
}

.menu-ico {
	margin-left: 5px;
	height: 10px;
	width: 25px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.menu-ico div {
	margin-top: 16%;
	background-color: white;
	width: 100%;
	height: 2px;
}

.headline {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 200px 11% 0 11%;
	color: white;
	font-family: 'Source Sans Pro', sans-seif;

}

.headline-top {
	position: relative;
	font-size: 4.75em;
	font-weight: 600;
	border-bottom: 2px solid white;
	padding-bottom: 37px;
	z-index: 2;
}

.headline-bottom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 40px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 4px;
	z-index: 2;
}

.description {
	box-sizing: content-box;
}

.description p {
	display: block;
	width: 580px;
	height: 50px;
}

.description-button {
	margin-left: 2%;
	box-sizing: content-box;
}

.description-button p {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 30px 15px 30px;
	text-align: center;
	border: 2px solid white;
	color: white;
	letter-spacing: 6px;
	width: 200px;
	height: 25px;
	z-index: 2;
}

@media (max-width: 1102px) {
	.headline-bottom {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	.description-button {
		margin-top: 2%;
}

.description-button i {
	margin-left: 1%;
}

.elements {
	width: 100%;
	height: 800px;
}
