* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-seif;
}

h1 {
	font-size: 4.75em;
	font-weight: 600;
}

.layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 750px;
	background: rgba(36, 41, 67, 0.86);
	z-index: 1;
}

.banner {
	height: 750px; 
	width: 100%;
	background: url("../images/banner.jpg");
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	max-width: 100%;

}

.banner-head {
	display: flex;
	justify-content: space-between;
	vertical-align: top;
	color: white;
	font-weight: 600;
	letter-spacing: 6px;
	padding: 25px;
	z-index: 2;
}

.head-text {
	width: 40%;
	z-index: 2;
}

.head-text a {
	color: white;
	text-decoration: none;
	transition: .4s ease;
}

#forty {
	color: #242943;
	background: white;
	transition: .3s;
	padding: 3px 3px 3px 6px;
	transition: .4s ease;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 2;
	cursor: pointer;
}

.menu-ico {
	margin-left: 5px;
	height: 10px;
	width: 25px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.menu-ico div {
	margin-top: 16%;
	background-color: white;
	width: 100%;
	height: 2px;
}

.headline {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 200px 11% 0 11%;
	color: white;
	font-family: 'Source Sans Pro', sans-seif;
}

.headline-top {
	position: relative;
	border-bottom: 2px solid white;
	padding-bottom: 37px;
	z-index: 2;
}

.headline-bottom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 40px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 4px;
	z-index: 2;
}

.description {
	box-sizing: content-box;
	margin-right: 3%;
}

.description p {
	display: block;
	width: 580px;
	height: 50px;
}

.description-button {
	box-sizing: content-box;
	text-decoration: none;
}

.description-button p {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 30px 15px 30px;
	text-align: center;
	border: 2px solid white;
	color: white;
	letter-spacing: 6px;
	width: 200px;
	height: 25px;
	transition: .5s;
	z-index: 2;
}

.description-button p:hover {
	color: #6fc3df;
	border: 2px solid #6fc3df;
	transition: .5s;
}


.description-button i {
	margin-left: 10%;
}

.content-block {
	display: flex;
	flex-direction: column;
	height: 1600px;
	width: 100%;
	color: white;
	font-family: 'Source Sans Pro', sans-seif;
	font-weight: 600;
}

.element-row-one, 
.element-row-two, 
.element-row-three {
	display: flex;
	flex-direction: row;
	height: 33.33%;
	width: 100%;
}

.elements {
	cursor: pointer;
}

#element-one {
	background: url(../images/pic01.jpg);
	background-size: cover;
	background-position: center;
	width: 40%;
}

#element-two {
	background: url(../images/pic02.jpg);
	background-size: cover;
	background-position: center;
	width: 60%;
}

#element-three {
	background: url(../images/pic03.jpg);
	background-size: cover;
	background-position: center;
	width: 60%;
}

#element-four {
	background: url(../images/pic04.jpg);
	background-size: cover;
	background-position: center;
	width: 40%;
}

#element-five {
	background: url(../images/pic05.jpg);
	background-size: cover;
	background-position: center;
	width: 40%;
}

#element-six {
	background: url(../images/pic06.jpg);
	background-size: cover;	
	background-position: center;
	width: 60%;
}

.element-container {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	box-sizing: border-box;
	padding-left: 5em;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.element-name {
	display: inline-block;
	font-size: 35px;
	z-index: 2;
}

.element-description {
	display: inline-block;
	border-top: 2px solid white;
	margin-top: 2vh;
	padding-top: 2vh;
	color: white;
	letter-spacing: 6px;
	z-index: 2;
}

.element-layer-one {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #6fc3df;
	opacity: .9;
	transition: 1s;
	z-index: 1;
}

.element-layer-two {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #8d82c4;
	opacity: .9;
	transition: 1s;
	z-index: 1;
}

.element-layer-three {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ec8d81;
	opacity: .9;
	transition: 1s;
	z-index: 1;
}

.element-layer-four {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #e7b788;
	opacity: .9;
	transition: 1s;
	z-index: 1;
}

.element-layer-five {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #8ea9e8;
	opacity: .9;
	transition: 1s;
	z-index: 1;
}

.element-layer-six {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #87c5a4;
	opacity: .9;
	transition: 1s;
	z-index: 2;
}

.element-layer-one:hover, 
.element-layer-two:hover, 
.element-layer-three:hover, 
.element-layer-four:hover, 
.element-layer-five:hover, 
.element-layer-six:hover {
	background: rgba(36, 41, 67, 0.2);
	transition: 1s;
	z-index: 1;
}


@media (max-width: 1102px) {
	.headline-top {
		text-align: center;
	}

	.headline-bottom {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.description-button {
		margin-top: 5%;
	}

	#element-one, 
	#element-two, 
	#element-three, 
	#element-four, 
	#element-five,
	#element-six {
		width: 50%;
	}
}


.info-block {
	height: 500px;
	width: 100%;
	color: white;
	font-family: 'Source Sans Pro', sans-seif;
	background: #2a2f4a;
}

.info-container {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	padding-left: 10%;
	box-sizing: border-box;
}

.info-name {
	display: inline-block;
	font-size: 35px;
	font-weight: 600;
	border-bottom: 2px solid white;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.info-description {
	display: inline-block;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 35px;
	box-sizing: border-box;
	width: 90%;
}

.info-button {
	box-sizing: border-box;
	margin-top: 35px;
	font-weight: 600;
}

.contacts {
	display: flex;
	flex-direction: row;
	background: #242943;
	color: white;
	height: auto;
	width: 100%;
	border-bottom: thin solid rgba(212, 212, 255, 0.1);
}

.contact-form {
	display: flex;
	flex-direction: row;
	width: 58%;
	height: auto;
}

.contact-form form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 5% 0 5% 20%;
	width: 100%;
}

.contact-form input, textarea {
	display: block;
}


.input-column input {
	font-size: 30px;
	width: 38%;
	height: auto;
}

.input-column {
	margin: 3%;
	width: auto;
}

textarea {
		width: 100%;
		min-height: 160px;
		max-height: 240px;
}


.area-column {
	margin-left: 3%;

}



.contacts-info {
	font-family: 'Source Sans Pro', sans-seif;
	width: 42%;
	border-left: thin solid rgba(212, 212, 255, 0.1);
}

.info {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 3% 0 3% 10%;
	border-bottom: thin solid rgba(212, 212, 255, 0.1);
}

.info-ico {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background: white;
	color: #242943;
	margin-right: 5%;
	font-size: 25px;
	border-radius: 50%;
}

.info h3 {
	font-family: 'Source Sans Pro', sans-seif;
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 3%;
}

.info p {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 35px;
}

.info a {
	color: white;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 35px;
	text-decoration: none;
	border-bottom: 1px dotted white;
	transition: .5s;
}

.info a:hover {
	color: #9bf1ff;
	border-bottom: 1px dotted #242943;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #242943;
	height: 300px;
	width: 100%;
	box-sizing: border-box;
}

.footer-ico {
	display: flex;
	flex-direction: row;
	margin: 0 0 2% 10%;
}

.footer-ico a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background: white;
	color: #242943;
	font-size: 25px;
	border-radius: 50%;
	margin-right: 1.5%;
	text-decoration: none;
	transition: .5s;
}

.footer-ico a:hover {
	background: #9bf1ff;
}

.footer-description {
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	color: rgba(244, 244, 255, 0.2);
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	width: 80%;
}

.footer-description a{
	color: rgba(244, 244, 255, 0.2);
	text-decoration: none;
	border-bottom: 1px dotted rgba(244, 244, 255, 0.2);
	transition: .5s;
}

.footer-description a:hover{
	color: #9bf1ff;
	border-bottom: 1px dotted rgba(244, 244, 255, 0);
}

.footer-description div:nth-child(2) {
	border-left: 1px solid rgba(244, 244, 255, 0.2);
	border-right: 1px solid rgba(244, 244, 255, 0.2);
	margin: 0 1%;
	padding: 0 1%;
}