* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #2a2f4a;
    color: #fff;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
h1 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.15em;
}
.first, 
.second, 
.third,
.fifth {
    display: flex;
}
/* Header */
header {
    position: relative;
    width: 100%;
    background: url(../images/banner.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.before_header {
    background-color: rgba(24, 30, 55, 0.85);
    background-attachment: fixed;
}
.header {
    padding: 150px 270px 150px 80px;
}
.menu_btn {
    position: absolute;
    top: 10px;
    right: 20px;
}
.menu_btn-open {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu_btn-open span,
.menu_btn-open span::before,
.menu_btn-open span::after {
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 3px;
    background-color: #fff;
}
.menu_btn-open span::before,
.menu_btn-open span::after {
    content: "";
}
.menu_btn-open span::before {
    transform: translateY(-6px);
}
.menu_btn-open span::after {
    transform: translateY(6px);
}
.under_line {
    position: relative;
    margin-top: 20px;
}
.btn {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 15px 80px;
    outline: none;
}
.btn:hover {
    transition: 0.5s;
    color: #5ca4e8;
    border: 1px solid #5ca4e8;
    cursor: pointer;
}
.btn:active {
    background-color: rgba(255, 255, 255, 0.10);
}
.btn_top {
    position: absolute;
    top: 0;
    left: 480px;
}
/* 1st, 2nd, 3rd */
.before_aliquam, 
.before_tempus, 
.before_magna, 
.before_ipsum, 
.before_consequat, 
.before_etiam {
    display: inline-block;
    background-size: cover;
}
.aliquam,
.tempus,
.magna,
.ipsum,
.consequat,
.etiam {
    transition: 0.5s;
}
.aliquam:hover,
.tempus:hover,
.magna:hover,
.ipsum:hover,
.consequat:hover,
.etiam:hover {
    background-color: transparent;
    cursor: pointer;
}
.before_aliquam {
    width: 40%;
    background: url(../images/pic01.jpg) no-repeat top center;
}
.aliquam {
    background-color: rgba(30, 199, 255, 0.85);
}
.before_tempus {
    width: 60%;
    background: url(../images/pic02.jpg) no-repeat center center;   
}
.tempus {
    background-color: rgba(125, 117, 178, 0.85);
}
.before_magna {
    width: 60%;
    background: url(../images/pic03.jpg) no-repeat top center;
}
.magna {
    background-color: rgba(209, 127, 119, 0.85);
}
.before_ipsum {
    width: 40%;
    background: url(../images/pic04.jpg) no-repeat top center;
}
.ipsum {
    background-color: rgba(213, 150, 90, 0.85);
}
.before_consequat {
    width: 40%;
    background: url(../images/pic05.jpg) no-repeat top center;
}
.consequat {
    background-color: rgba(126, 151, 207, 0.85);
}
.before_etiam {
    width: 60%;
    background: url(../images/pic06.jpg) no-repeat top center;
}
.etiam {
    background-color: rgba(104, 165, 138, 0.85)
}
.inside {
    padding: 120px 270px 120px 80px;
}
/* 4th */
.fourth {
    display: inline-block;
    padding: 50px 270px 50px 80px;
}
/* 5th; Form */
.form, 
.email, 
.phone, 
.address {
    display: inline-block;
}
.form {
    background-color: #242943;
    border-right: 3px solid #2a2f4a;
    width: 60%;
    height: 400px;
    padding: 40px 80px;
}
.epa {
    width: 40%;
    height: 400px;
}
.epa span {
    font-weight: bold;
    font-size: 20px;
}
.email,
.phone {
    height: 33%;
}
.address {
    height: 34%;
}
.epa div + div {
    border-top: 3px solid #2a2f4a;
}
.email,
.phone,
.address {
    background-color: #242943;
    padding: 40px 50px;
    width: 100%;
}
/* Modal window */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(42, 47, 74, 0.95);
}
.show {
    display: block;
}
.modal_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.modal_menu-content {
    display: block;
    width: 320px;
}
.modal_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.modal_menu li {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 10px 0;
    width: 320px;
    text-transform: uppercase;
}
.modal_menu li a:hover {
    transition: 0.5s;
    color: #5ca4e8;
}
.modal_menu li a:active {
    color: #307ec7;
}
.modal_menu li + li {
    border-top: 2px solid rgba(64, 71, 110, 0.4);
} 
.btn_get,
.btn_log {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 15px 0;
    outline: none;
    margin-top: 20px;
}
.btn_get {
    color: #242943;
    background-color: #fff;
}
.btn_get:hover {
    transition: 0.5s;
    background-color: #5ca4e8;
    border: 1px solid #5ca4e8;
    cursor: pointer;
}
.btn_get:active {
    background-color: #307ec7;
}
.btn_log {
    color: #fff;
    background-color: transparent;
}
.btn_log:hover {
    transition: 0.5s;
    color: #5ca4e8;
    border: 1px solid #5ca4e8;
    cursor: pointer;
}
.btn_log:active {
    background-color: rgba(255, 255, 255, 0.10);
}