* {
	box-sizing: border-box;
}
body {
margin: 0;
padding: 0;
font-family: open sans;
color: white;
}

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

header{
	background: #dee0e3;
	background: url(../images/banner.jpg) no-repeat fixed;
	background-size: cover;
    height: 450px;
    width: auto;
   
}
.header_1 {
	display: block;
	padding-left: 20px;
    

}
.logo {
    width: 58px;
    text-align: center;
    float: left;
    text-transform: uppercase;
    background: white;
    
    color: black;
    margin: 20px;


}
.first_line {
	color: white;
    text-transform: uppercase;
    float: left;
    
    margin: 20px 20px 0 0;

}
.menu {
	float: right;
	text-transform: uppercase;
	padding-right: 20px;
	color: white;
    margin: 20px 20px 0 0;

}
i la{
	float:right;
    display: block;
    margin-left: 20px;
}

.text {
    padding: 8rem 20%;
    text-align: center;
    display: block;
}
h1{
	text-transform: uppercase;
	border-bottom: 2px solid;
	padding-bottom: 1rem;
	text-align: left;
}
.title {
	box-sizing: border-box;
}
.title p {
	float: left;
	width: 20rem;
	font-size: 12px;
}
.button {
	float: left;
    border: 2px solid #ffffff;
    color: white;
    width: 200px;
    height: 36px;
    text-align: center;
    padding: 7px;
    margin-top: 8px;
    margin-left: 35px;
    margin-bottom: 100px;
    text-transform: uppercase;

}
.section-2 {
    height: 900px;
    width: auto;
    background-size: cover;
    background: #dee0e3;
    padding: 0;
}
.go {
    display: inline-block;
    float: left;
    height: 300px;

}
.section-2 h1{
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 1rem;
    text-align: left;
    width: 14em;
    margin: 4em 0 0 3em;
}
.second_line {
margin-left: 5em;
}
.box_1 {
     width: 35%;
     background: url(../images/pic01.jpg);
     background-size: cover;
     
}    
.box_2 {
     width: 65%;
     background: url(../images/pic02.jpg);
     background-size: cover;
     
     
}
.box_3 {
     width: 65%;
     background: url(../images/pic03.jpg);
     background-size: cover;
     
     
 }
.box_4 {
     width: 35%;
     background: url(../images/pic04.jpg);
     background-size: cover;
    
}
.box_5 {
     width: 35%;
     background: url(../images/pic05.jpg);
     background-size: cover;


}
.box_6 {
    width: 65%;
     background: url(../images/pic06.jpg);
     background-size: cover;

     
 }
 .section-3{
    background: #2e2b3c;
    height: 400px;
    display: block;

}
.text-1 {
    padding: 3rem 20%;
    text-align: left;
    display: block;


}
.title-1 p {
    float: left;
    width: 30rem;
    font-size: 12px;
}
.button-1 {
    border: 2px solid #ffffff;
    color: white;
    width: 200px;
    height: 36px;
    text-align: center;
    padding: 7px;
    margin: 150px 0;
    text-transform: uppercase;
    text-decoration: none; 
}
.text_element{
text-decoration: none;
}
.section-4{
    background: #2e2b3c;
    height: 500px;
    width: auto;
    font-size: 30px;
    color: #fff;
}

.row {
    box-sizing: border-box;
}
.form_zone {
    width: 65%;
    min-height: 450px;
    float: left;
}
.inner_form {
    background: #16151d;
    height: 450px;

}
form {
    
    text-transform: uppercase;
    width: auto;
    padding: 30px 60px;

}
.form_box {
    margin: 30px 5px 30px 160px;
}

label {
   display: block;
   margin-bottom: 10px;
   font-size: 12px;
}

#name,  #email {
    width: 260px;
    height: 40px;
    background: #2e2b3c;
    border: none;
}


textarea {
    width: 535px;
    height: 15em;
    display: block;
    margin-top: 2em;
    background: #2e2b3c;
    border: none;
}
.submit1 {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 163px;
    background: #fff;
    color: #2e2b3c;

}
.submit2 {
    background: #1e1c27;
    color: #fff;
    padding: 13px 30px;
    margin: 8px 0 20px 12px;
    font-size: 15px;
    border-color: #fbf5f5;
    cursor: pointer;
    width: 127px;
    height: 45px;

}
.message{
    margin-top: 7em;
     margin-bottom: -1em;
}
.one_box {
    display: block;
    float: left;
}

.second_box {
    display: block;
    float: left;
    margin-left:20px;

}
.third_box {
    clear: both;
    margin-top: 4em;
}


.sidebar {
    width: 35%;
    background: #1e1c27;
    min-height: 450px;
    float: left;
    
}
.inner_sidebar {
    background: #16151d;
    height: 148px;
    margin: 0 0 2px 2px;

}
.icon1{
    padding-top: 10px;
    width: 15px;
    height: 15px;
    margin-left: 76px;
   
    
}
.fa-envelope:before {
    content: "\f0e0";
    font-family: "fontawesome";
    position: absolute;
    padding: 6px;
    font-size: 22px;
    color: black;
    background: white;
    border-radius: 50%;
    display: block;
    float: left;
    clear: both;
}
.icon1 p{
   
    margin: 5px 55px;
    font-size: 17px;
    width: 245px;
}
.icon1 .phone p {
    font-size: 15px;
    margin-left: 0;
}

.phone_zone {
    background: #16151d;
    height: 148px;
    margin: 0 0 2px 2px;
}
.icon1 a, .icon1 .phone {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 14px;
    margin-left: 55px;
    font-size: 20px;
    width: 190px;
}

.fa-phone:before {
    content: "\f095";
    font-family: "fontawesome";
    position: absolute;
    padding: 6px;
    font-size: 22px;
    color: black;
    background: white;
    border-radius: 50%;
  display: block;
    float: left;
    clear: both;
  }

.address_zone {
    background: #16151d;
    height: 148px;
    margin: 0 0 2px 2px;
}
.inner_footer {
    background: #16151d;
    margin-top: 2px;
    height: 4em;
}
