* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #ffffff;
    font-family: Arial;
}

header {
    background: #2d284b;
}

.banner {
     padding: 8rem 20%;

 }

.banner h1 {
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}
.banner p {
    text-transform: uppercase;
}

.banner a {
    color: #fff;
    border: 2px solid;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
}

.banner a:hover {
    color: #000;
    background: #fff;
    border: 2px solid #fff;
}

.text p {
    float: left;
    width: 20rem;
}

.text a {
    float: left;
}


.text::after {
    content: "";
    clear: both;
    display: block;
}
