p {
    font-size: 20px;
}

.red {
    color: red;
}

.underlined {
    text-decoration: underline;
}

h1 {
    color: green;
}

.small {
    font-size: 16px;
}

li {
    font-size: 20px;
}

ul {
    text-decoration: underline;
}

.box {
    height: 180px;
    width: 50%;
    padding: 20px;
    margin: 60px 20px;
    border: 3px solid green;
    background-color: black;
    
}

* {
    box-sizing: border-box;    
}

.triangle {
    border: 40px solid transparent;
    border-left: 40px solid red;
    border-top: 40px solid black;
    border-right: 40px solid green;
    border-bottom: 40px solid yellow;
    width: 80px;
}

.div14 {
    height: 40px;
    width: 40px;
    overflow: hidden;
}

#hidden {
    visibility: hidden;
}

#none {
    display: none;
}

#block {
    display: block;
}

.overlay {
    position: absolute;
    background-color: coral;
/*
    width: 100px;
    height: 100px;
*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 3, 45, 0.9);
    
}

.modalbox {
    color: white;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    left: calc(50% - 50px);
    position: absolute;
/*    transform: translateXscaleX(50%); <!--Для смещения блока на пол своей ширины? */
/*    Так же можно ебнуть через margin */
}